@page "/account"
@inject IProductService ProductService 
@inject ISyncLocalStorageService Localstorage
@inject IToastService ToastService
@inject ICartService CartService
@inject IOrderService orderService

@if (accountDetails.user == null)
{
  <center><img class="rotate" src="Images/loading.png" alt="failed" /></center>

}else{



    <div class="media">
    <div class="media-img-big-wrapper mr-2">
        <img class="media-img" src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg?w=826&t=st=1661334988~exp=1661335588~hmac=b4b8bb35aa1b4e2fd98beb8777213dfd975e27d130c5ad265e5dd9f4e49f6b26" alt="@accountDetails.user.Email" />
    </div> 
    <div class="media-body">
<EditForm Model="accountDetails" >

        <div class="form-group">
        <label for="Name">Name</label><br />
        <InputText id="Name" @bind-Value="@accountDetails.user.Name" disabled="@(this.isDisable = true)" class="form-control"/>
    </div><br />

        <div class="form-group">
        <label for="Surname">Surname</label><br />
        <InputText id="Surname" @bind-Value="@accountDetails.user.Surname" disabled="@(this.isDisable = true)" class="form-control"/>
    </div><br />

    <div class="form-group">
        <label for="Email">Email</label><br />
        <InputText id="Email" @bind-Value="@accountDetails.user.Email" disabled="@(this.isDisable = true)" class="form-control"/>
    </div><br />

        <div class="form-group">
        <label for="StreetAddress">Street Address</label><br />
        <InputText id="StreetAddress" @bind-Value="@accountDetails.user.StreetAddress" disabled="@(this.isDisable = true)" class="form-control"/>
    </div><br />

        <div class="form-group">
        <label for="Suburb">Suburb</label><br />
        <InputText id="Suburb" @bind-Value="@accountDetails.user.Suburb" disabled="@(this.isDisable = true)" class="form-control"/>
    </div><br />

        <div class="form-group">
        <label for="orders">Orders</label><br />
        <InputText id="Email" @bind-Value="@numberoforders" disabled="@(this.isDisable = true)" class="form-control"/>
    </div><br />

</EditForm>
    </div>

</div>



}



@code {
    UserRegisterRequest userd = new  UserRegisterRequest();
    List<Orders> Orders = new List<Orders>();
    AccountDetails accountDetails = new AccountDetails();
    string numberoforders = "";


    protected override void OnInitialized()
    {
        orderService.OrdersChanged += StateHasChanged;

    }


    public void Dispose() { 

        orderService.OrdersChanged -= StateHasChanged;


    }



    protected override async Task OnInitializedAsync()
    {

        userd = Localstorage.GetItem<UserRegisterRequest>("userinfo");
        if(userd!=null)
            await orderService.GetOrder(userd.Email);
        accountDetails.user = userd;
        accountDetails.Orders = orderService.Orders;

       numberoforders =  accountDetails.Orders.Count.ToString();

    }


    private bool isDisable { get; set; }

       private void onDisable()
    {
        this.isDisable = true;
    }

}
